<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="#" class="registration">
        <input type="email" class="registation__input" placeholder="Your email address" required>
        <input type="text" class="registation__input" placeholder="Your name">
        <input type="text" class="registation__input" placeholder="Your last name">
        <input type="text" class="registation__input" placeholder="Password" required minlength="8">
        <input type="text" class="registation__input" placeholder="Submit password" required minlength="8">
    </form>
</body>
</html>